@font-face {
    font-family: 'margaret';
    src: url("../cheque_font/Trap-Black.otf") format('opentype');
}

@font-face {
    font-family: 'silka';
    src: url("../cheque_font/silkamono-regular-webfont.ttf") format('truetype');
}


:root {
    --drinks-img-height: 260px;
}

.logo {
    font-family: 'margaret';
    font-size: 18px;
}


body {
    font-family: 'Montserrat', sans-serif;
}

.drinks-img-wrapper {
    max-height: var(--drinks-img-height);
}

.drinks:hover .drinks-img {
    transform: scale(1.1);
}

.drinks-img, .drinks {
    transition: all .3s ease-in-out;
}

.drink-options {
    inset: 50% 0 auto auto;
    transform: translate(-55%, -50%);
}

#img-preview {
    object-fit: cover;
    height: 100%;
}

.img-preview {
    width: 800px;
    height: 500px;
}

.coffee-img {
    width: 100px;
    height: 100px;
}

.coffee-img img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
}

.coffee-bean .card-img-overlay {
    background: #22222250;
    transition: all .4s ease-in-out;
}

.coffee-bean:hover .card-img-overlay {
    background: #00000090;
}

.coffee-bean:hover .action-group {
    opacity: 1;
    visibility: visible;
    inset: 50% auto auto 50%;
}

.action-group {
    inset: 55% auto auto 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

.arrow-back:hover svg {
    transform: translateX(-5px);
}

.filter a {
    position: relative;
}

.filter a:after {
    content: '';
    position: absolute;
    inset: auto auto 0 0;
    height: 1.5px;
    width: 0%;
    background: #333;
    transition: all .2s ease-in-out;
}

.filter:hover a:after {
    width: 100%;
}

.result {
    animation: fade-in 0.3s ease-in-out;
}

.result:hover {
    background: #d2d2d2;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    .logo {
        font-size: 36px;
    }
}


