:root {
    --drinks-img-height: 260px;
}

.drinks-img-wrapper {
    max-height: var(--drinks-img-height);
}

.drinks:hover .drinks-img {
    transform: scale(1.1);
}

.drinks-img, .drinks {
    transition: all .3s ease-in-out;
}

.drink-options {
    inset: 50% 0 auto auto;
    transform: translate(-55%, -50%);
}

#img-preview {
    object-fit: cover;
    height: 100%;
}

.img-preview {
    width: 800px;
    height: 500px;
}

.coffee-img {
    width: 100px;
    height: 100px;
}

.coffee-img img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
}

.coffee-bean .card-img-overlay {
    background: #22222250;
    transition: all .4s ease-in-out;
}

.coffee-bean:hover .card-img-overlay {
    background: #00000090;
}

.coffee-bean:hover .action-group {
    opacity: 1;
    visibility: visible;
    inset: 50% auto auto 50%;
}

.action-group {
    inset: 55% auto auto 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
